<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447247758000-oor0aph1p3iitrjqhgm3075vf2j4uu45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447247758000-oor0aph1p3iitrjqhgm3075vf2j4uu45</string>
	<key>API_KEY</key>
	<string>AIzaSyBeB0vF5hgfKufbAd7g7R3sDwnEru4egbM</string>
	<key>GCM_SENDER_ID</key>
	<string>447247758000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.RrDev.LearnSwiftUI-V2</string>
	<key>PROJECT_ID</key>
	<string>learn-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447247758000:ios:85f9eb80a818fa4d228175</string>
</dict>
</plist>